.vs/
.vscode/
x64/
Debug/
Win32/
build_artifacts/
.dotnet-home/
*.user
*.pdb
*.ilk
*.obj
*.ipch
*.tlog/
*.lastbuildstate
*.log
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
